* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #272525;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

section {
  padding: 70px 0;
}

.head {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  transition: 0.3s ease-in-out;
}

.button {
  position: relative;
  padding: 15px 25px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  border: 2px solid #fff;
}
.button:hover {
  background: #ffffff;
  color: #272525;
  border: 2px solid #9b4edb;
}

.button-light {
  position: relative;
  padding: 13px 24px;
  color: #272525;
  background: #ffffff;
  transition: 0.3s ease-in-out;
  border: 2px solid #fff;
}
.button-light:hover {
  padding: 13px 24px;
  color: #272525;
  border: 2px solid #9b4edb;
}

header .nav {
  display: flex;
}
header .nav a {
  display: inline-block;
  padding: 5px 0;
  margin: 15px 20px 15px 0;
  color: #000000;
  position: relative;
  font-weight: 600;
}
header .nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  transition: 0.3s ease-in-out;
}
header .nav a:hover {
  color: #000000;
}
header .nav a:hover::before {
  width: 100%;
}
header .nav a + a {
  margin-left: 20px;
}
header .hamburger {
  display: none;
  position: relative;
  width: 28px;
  height: 32px;
}
header .hamburger span {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 2px;
  display: block;
  background: #272525;
  border-radius: 2px;
  opacity: 1;
}
header .hamburger::before {
  content: "";
  position: absolute;
  background-color: #272525;
  width: 100%;
  top: 4px;
  height: 2px;
  border-radius: 2px;
  display: block;
  transition: 0.3s;
}
header .hamburger::after {
  content: "";
  position: absolute;
  background-color: #272525;
  width: 100%;
  top: 26px;
  height: 2px;
  border-radius: 2px;
  display: block;
  transition: 0.3s;
}
header .hamburger:hover::before {
  top: 7px;
}
header .hamburger:hover::after {
  top: 23px;
}
header .hamburger.active span {
  opacity: 0;
}
header .hamburger.active::before {
  top: 40%;
  transform: rotate(45deg);
}
header .hamburger.active::after {
  top: 40%;
  transform: rotate(-45deg);
}

.mobile-nav {
  overflow: hidden;
  position: relative;
}
.mobile-nav .header-overlay {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(0, 0, 0);
  transition: 0.5s ease-in-out;
  z-index: 999;
}
.mobile-nav .mobile-content {
  position: fixed;
  width: 300px;
  right: 0;
  padding-top: 20px;
  background-color: #ffffff;
  height: 100vh;
  transition: 0.8s all ease;
  transform: translateX(100%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1019607843);
  z-index: 2000;
}
.mobile-nav .mobile-content .mobile-header {
  padding: 0 20px 30px 20px;
  width: 100%;
}
.mobile-nav .mobile-content .mobile-header .close-menu {
  position: relative;
  float: right;
  margin-top: 8px;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: -20px;
}
.mobile-nav .mobile-content .mobile-header .close-menu span {
  display: inline-block;
  padding: 0 0 20px 15px;
}
.mobile-nav .mobile-content .mobile-header .close-menu span::before, .mobile-nav .mobile-content .mobile-header .close-menu span::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background: #000;
}
.mobile-nav .mobile-content .mobile-header .close-menu span::before {
  transform: rotate(45deg);
}
.mobile-nav .mobile-content .mobile-header .close-menu span::after {
  transform: rotate(-45deg);
}
.mobile-nav .mobile-content .body-menu {
  padding: 0 20px 20px 20px;
}
.mobile-nav .mobile-content .body-menu ul {
  padding: 0;
  margin: 0;
}
.mobile-nav .mobile-content .body-menu ul li a {
  position: relative;
  font-size: 14px;
  padding: 5px 20px 5px 0;
  color: #000000;
  display: inline-block;
  transition: 0.3s all ease;
}
.mobile-nav .mobile-content .body-menu ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  transition: 0.3s ease-in-out;
}
.mobile-nav .mobile-content .body-menu ul li a:hover {
  color: #000000;
}
.mobile-nav .mobile-content .body-menu ul li a:hover::before {
  width: 100%;
}
.mobile-nav .mobile-content .body-menu ul li.active a {
  color: #272525;
}
.mobile-nav .mobile-content .body-menu ul li.active a:hover {
  color: #272525;
}

.mobile-nav.active .header-overlay {
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  visibility: visible;
}
.mobile-nav.active .mobile-content {
  transform: translateX(0);
}

#hero {
  padding-bottom: 70px;
}
#hero .left {
  padding-top: 80px;
}
#hero .left h1,
#hero .left h3 {
  text-transform: uppercase;
}
#hero .left p {
  margin: 30px 0;
}
#hero .left .button-light {
  position: relative;
}
#hero .left .button-light i {
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}
#hero .left a + a {
  margin-left: 20px;
}
#hero .right {
  position: relative;
  background: #fff url("../images/hero-bg.png");
  background-position: center;
  background-size: cover;
  height: 26rem;
  top: -30px;
  right: 50px;
}
#hero .right img {
  position: absolute;
  top: -30px;
  left: 0;
}
#hero .right:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
}

#about {
  background-color: #f3f3f3;
}
#about .row {
  position: relative;
}
#about .row .content {
  position: absolute;
  padding: 30px;
  width: 50%;
  top: 5%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
#about .row .content .me {
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about .row .content .me .name {
  width: 40%;
  text-align: center;
}
#about .row .content .me .name span {
  text-align: center;
  color: #9b4edb;
  font-weight: 600;
}
#about .row .content .me .name p {
  font-weight: 600;
}
#about .row .content .me .name a {
  color: #272525;
  transition: 0.3s ease-in-out;
}
#about .row .content .me .name a:hover {
  color: #9b4edb;
  text-decoration: underline;
}
#about .row .content .me .name:nth-last-child(1) {
  margin: auto;
  width: 100%;
}
#about .row .content .me .name:nth-last-child(1) p {
  margin: 0;
}
#about .row .content .social {
  text-align: center;
}
#about .row .content .social a {
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
#about .row .content .social a:hover {
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
}
#about .row .content .social a:hover i {
  color: #ffffff;
}
#about .row .content .social a:nth-child(1) {
  padding: 10px 13px;
}

#services .box {
  position: relative;
  height: 200px;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
#services .box .logo {
  position: relative;
}
#services .box .logo i {
  font-size: 40px;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#services .box .logo::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  transition: 0.3s ease-in-out;
}
#services .box .logo::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
  transition: 0.3s ease-in-out;
}
#services .box .content {
  margin-left: 20px;
}
#services .box .content h4 {
  margin-bottom: 20px;
  font-weight: 700;
}
#services .box:hover {
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
}
#services .box:hover .logo i {
  color: #272525;
  background: inherit;
  -webkit-text-fill-color: inherit;
}
#services .box:hover .logo::before, #services .box:hover .logo::after {
  background: #272525;
}

#portfolio .swiper .swiper-wrapper {
  cursor: -webkit-grab;
  cursor: grab;
}
#portfolio .swiper .swiper-wrapper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#portfolio .swiper .swiper-pagination {
  position: static;
  margin-top: 30px;
}
#portfolio .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  background: #f3f3f3;
  opacity: 1;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#portfolio .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
}

#testimonial .head h2 {
  font-weight: 700;
  margin-bottom: 20px;
}
#testimonial .swiper .swiper-wrapper {
  cursor: -webkit-grab;
  cursor: grab;
}
#testimonial .swiper .swiper-wrapper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#testimonial .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  margin: 30px 0;
  background: #f3f3f3;
  padding: 30px;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
#testimonial .swiper .swiper-wrapper .swiper-slide .quote {
  position: absolute;
  top: -10%;
  left: 10%;
}
#testimonial .swiper .swiper-wrapper .swiper-slide .author {
  margin-top: 20px;
}
#testimonial .swiper .swiper-wrapper .swiper-slide .author .name {
  margin-left: 30px;
}
#testimonial .swiper .swiper-wrapper .swiper-slide .author .name h5 {
  font-weight: 700;
  text-transform: uppercase;
}
#testimonial .swiper .swiper-wrapper .swiper-slide .author .name p {
  margin: 0;
}
#testimonial .swiper .swiper-pagination {
  display: none;
}

footer {
  padding: 70px 0;
  background: #f3f3f3;
}
footer .head {
  text-align: start;
}
footer .address {
  margin-top: 30px;
}
footer .address address {
  margin-bottom: 0;
}
footer .address a {
  color: #272525;
  transition: 0.3s ease-in-out;
  display: block;
}
footer .address a:hover {
  color: #9b4edb;
  text-decoration: underline;
}
footer .social {
  margin-top: 20px;
}
footer .social span {
  font-weight: 700;
}
footer .social a {
  position: relative;
  padding: 10px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
footer .social a:hover {
  background: linear-gradient(to right, #d824ff 0%, #73c6f0 100%);
}
footer .social a:hover i {
  color: #ffffff;
}
footer .social a:nth-child(2) {
  padding: 10px 13px;
}
footer form input {
  border: none;
  border-bottom: 1px solid #595959;
  outline: none;
  background: transparent;
}
footer form input + input {
  margin-left: 20px;
}
footer form textarea {
  resize: none;
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #595959;
  background: transparent;
  outline: none;
  width: 100%;
}
footer form button {
  position: relative;
  border: transparent;
}

@media (max-width: 1200px) {
  #hero .right {
    margin-top: 80px;
    height: 22rem;
    top: auto;
    margin-bottom: auto;
  }
}
@media (max-width: 992px) {
  #hero .right {
    height: 16rem;
  }
  #about .row .content {
    width: 100%;
    height: 100%;
  }
  footer form input + input {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }
  .head {
    margin-bottom: 30px;
  }
  header {
    padding: 20px 0;
  }
  header .nav,
header .button-nav {
    display: none !important;
  }
  header .hamburger {
    display: inline-block !important;
  }
  #hero {
    padding-bottom: 30px;
  }
  #hero .left a + a {
    margin-left: 0;
    margin-top: 20px;
  }
  #hero .right {
    height: 12rem;
  }
  footer {
    padding: 30px 0;
  }
}
@media (max-width: 576px) {
  #hero .left h1 {
    font-size: 22px;
  }
  #hero .left h3 {
    font-size: 18px;
  }
  #hero .left p {
    font-size: 14px;
  }
  #hero .right {
    height: 8rem;
  }
  #about .row .content {
    position: relative;
  }
}/*# sourceMappingURL=style.css.map */